#geniai-chat {
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 999999;
    color: #24272a;
    direction: ltr;
    .icon {
        margin: 0 !important;
    }
    .geniai-popup {
        display: none;
        position: absolute;
        width: 360px;
        max-height: 650px;
        background: #fff;
        right: 0;
        bottom: 0;
        border-radius: 6px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06), 0 3px 32px rgba(0, 0, 0, 0.16);
        z-index: 99995;
        text-align: left;
        flex-direction: column;
        overflow: hidden;
        transition: all 0.4s;
        #geniai-scrollarea {
            min-height: 450px;
            max-height: 650px;
            background-size: cover;
            margin: 0;
            overflow: hidden;
            overflow-y: scroll;
            .geniai-header {
                color: #fff;
                box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
                font-size: 14px;
                line-height: 26px;
                font-weight: 500;
                text-align: center;
                background-color: rgb(var(--color_primary, 30, 136, 229));
                background-size: cover;
                padding: 13px 20px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0 !important;
                opacity: 1 !important;
                z-index: 9;
                .geniai-info {
                    display: flex;
                    align-items: center;
                    text-align: left;
                    transition: all 0.4s;
                    gap: 9px;
                    img {
                        width: 40px;
                        height: 40px;
                        max-height: 40px;
                        max-width: 40px;
                        border-radius: 50%;
                        margin-right: 15px;
                        display: block;
                    }
                    > div {
                        height: 40px;
                        .geniai-name {
                            letter-spacing: 0.5px;
                            font-size: 14px;
                            display: block;
                            line-height: 10px;
                            margin-top: 6px;
                        }
                        .geniai-status {
                            position: relative;
                            font-weight: 400;
                            font-size: 13px;
                            color: rgba(255, 255, 255, 0.7);
                            letter-spacing: 0.3px;
                        }
                    }
                }
                .right-icons {
                    position: absolute;
                    top: 20px;
                    right: 10px;
                    display: flex;
                    gap: 10px;
                    a, span {
                        display: inline-block;
                        cursor: pointer;
                        opacity: .8;
                        transition: all 0.5s;
                        margin-right: 0;
                        &:hover {
                            opacity: 1;
                        }
                        img {
                            height: 24px;
                            width: auto;
                        }
                    }
                }
            }
            #geniai-area-mensagens {
                float: left;
                clear: both;
                width: 100%;
                min-height: 200px;
                box-sizing: border-box;
                padding-top: 70px;
                margin-top: 0;
                .geniai-message {
                    float: right;
                    clear: both;
                    position: relative;
                    margin: 2px 10px 5px 10px;
                    box-shadow: none;
                    background-color: #d9fdd3;
                    border-radius: 6px;
                    padding: 8px 12px;
                    max-width: calc(100% - 90px);
                    min-width: 80px;
                    color: #566069;
                    font-size: 16px;
                    line-height: 21px;
                    letter-spacing: 0.3px;
                    outline: none;
                    button {
                        -webkit-appearance: none;
                        border: none;
                        background: #8989895e;
                        padding: 0 10px;
                        line-height: 28px;
                        border-radius: 5px;
                    }
                    &.format-text {
                        white-space: break-spaces;
                    }
                    &.geniai-server {
                        float: left;
                        margin: 2px 20px 5px 10px;
                        background-color: #f2f2f2;
                        transition: all .4s;
                        &.geniai-message {
                            color: #004c7d;
                        }
                    }
                    &.geniai-error {
                        background-color: #e91e63;
                        color: #fff;
                    }
                    p, ul, ol {
                        &:last-child {
                            margin-bottom: 0 !important;
                        }
                    }
                    ul, ol {
                        margin-left: 34px;
                    }
                }
                .transcription {
                    font-style: italic;
                    margin-left: 20px;
                }
                &.hide-message {
                    .geniai-history {
                        display: none;
                    }
                }
            }
        }
        #geniai-sendarea {
            position: relative;
            display: flex;
            gap: 15px;
            background: #e9e9e9;
            margin: 0;
            padding: 10px 8px 10px 15px;
            border-top: 1px solid #dee5ec;
            align-items: center;
            #geniai-textarea {
                margin: 0;
                box-shadow: none;
                border-radius: 4px;
                letter-spacing: .3px;
                width: 100%;
                max-height: 100px;
                font-size: 16px;
                min-height: 0;
                padding: 5px;
                outline: none;
                text-align: left;
                font-weight: 400;
                resize: none;
                border: none;
                color: #566069;
                background: #fff;
                overflow-x: hidden;
                display: block;
                height: 34px;
            }
            #geniai-icon-stop,
            #geniai-icon-mic,
            #geniai-icon-send {
                img {
                    height: 31px;
                    width: 31px;
                    cursor: pointer;
                    transition: all .4s;
                }
            }
            #geniai-icon-mic {
                display: none;
                &.recording {
                    margin: -6px;
                    padding: 6px;
                    border-radius: 8px;
                    background-color: #e91e63;
                    animation: ease geniai-pulse 2s infinite;
                    @keyframes geniai-pulse {
                        0% {
                            background-color: #e91e63;
                        }
                        50% {
                            background-color: #ba68c8;
                        }
                        100% {
                            background-color: #e91e63;
                        }
                    }
                }
            }
            #geniai-icon-send {
                opacity: .5;
            }
            &.geniai-active {
                #geniai-icon-mic {
                    display: none !important;
                }
                #geniai-icon-send {
                    opacity: 1;
                }
            }
        }
    }
    #geniai-chat-btn {
        position: fixed;
        visibility: visible;
        bottom: 20px;
        right: 20px;
        left: auto;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06), 0 3px 32px rgba(0, 0, 0, 0.16);
        transition: all 0.4s;
        background-color: rgb(var(--color_primary, 30, 136, 229));
        z-index: 999995;
        #geniai-count-icon {
            position: absolute;
            width: 20px;
            height: 20px;
            text-align: center;
            background: #ca3434;
            color: #fff;
            border-radius: 100%;
            font-weight: 500;
            font-size: 11px;
            line-height: 22px;
            top: 0;
            left: -3px;
            z-index: 2;
            &[data-count="0"] {
                display: none;
            }
        }
        .geniai-icon {
            img {
                max-width: 60px;
                max-height: 60px;
                min-height: 60px !important;
                min-width: 60px !important;
                width: 60px;
                height: 60px;
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                z-index: 0;
                transition: all 0.4s;
                border-radius: 50%;
            }
            &.geniai-open-icon {
                opacity: 1;
                transform: rotate(0deg);
                &::after {
                    content: "";
                    border-radius: 9px !important;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: #2ecc71;
                    animation: nld-super-pop-in 0.5s cubic-bezier(0, 0.35, 0.28, 0.9) forwards;
                    animation-delay: 1s;
                    width: 15px;
                    height: 15px;
                    display: block;
                }
            }
            &.geniai-close-icon {
                opacity: 0;
                transform: rotate(90deg);
            }
        }
    }
    .balloon {
        display: none;
    }
    &:not(.geniai-active) {
        #geniai-chat-btn {
            background-color: #9e9e9e;
        }
        .balloon {
            display: block;
            position: absolute;
            right: 74px;
            bottom: 6px;
            border-radius: 8px !important;
            padding: 9px;
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
            border: 1px solid #d6d6d6;
            color: #555 !important;
            background: white;
            white-space: nowrap;
            -webkit-animation: hide-animation 5s forwards;
            animation: hide-animation 8s forwards;
            transition: all 0.4s;
            opacity: 1;
            // overflow: hidden;
            &:after {
                content: '';
                width: 16px;
                height: 32px;
                position: absolute;
                top: 50%;
                margin-top: -16px;
                right: -16px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAMvSURBVHic7ZpPi9NAGMafbKtbd6vrrn8KXqTYo5dlv4D3epBC8SuIJ2/2c4i3eigFpVfBuyctpVePS0vBq4UeSui/vB6aMZPZzGTiip1J5wcvmSaTJc+T951MZgM4HA6HY3/xwpBB/+tCdkWaASK5MySrATy5MOM6BjCsNsIDcKDRT0eklUZ4AAqSYzJBaUKtMoI3gC+FJBHiPpVQa0woInkMSBsXiOuTJFZ1zCg8ADc0+lHGtuxc4+AzQLzrsjLwhDbr50nOke03AmaArAxEcWxLCeeIhlhBEfHHoFi7aXeVFy1uk/obhywDxDRnbVVZWGnCge/775vN5iG2mSALZpL4mzdPtjUbIqLVavW90+k8AXDCxZ0wbodRBnAM4AjALQAlAIcAbmL7JCmGUQgjySjzTKGQzWbzs9/vPwNwGsbdMJgZzAhdE1TZYgweEf2pSyKaj0aj17Va7QvXhyQRKI4Rdy6/heT37qCrBNPp9F2lUnkI4D6AewDOEGUFy4Yy1JlgRxYkGEBERPP5/HOj0XgM4AEiI0QT+HJQlYJ9BhARLZfLH+12+wJ6JtiZBSoDwsHx12AweAGAlQQrhxNcLYUkA8zOgjQDiIiCIFiMx+M3iDLhDOossKcMdAxgzGaz7vn5+SNEpSBmQZYyMIMsBhAR+b7/tdVq1RDPgrQyyI8BRETr9fqy2+0+RdyAY1hoQGwilIXFYvGtVCo9RzQhCoS2amIktneGzoqwDCMEXJe/MmCz2Vz2er1X3C7j7qw2bhDMQB4fg0WdTkS0nEwmb6vV6kekD24QjkHSxwhSx4AgCKbD4fBltVr9BL3XYLvGA1XK7/XL0D6/Du/VgkhsEKR/vyRmPuy27+uiqFsW933/Q71eP0UklI8y4sKziDf/7mN7UUeQX5z4TBcnP6olcJ2PLHZOEXERSR82qARaLR7YGhBA/kWHzAgdg2R/xyj4DFB9IKFa0LBr6ivADADUFy8TqSPeaFN4A9LIKjztmBEUkPz/fJ06tlo4g58K6wpME2eNeCCeASp0RFklnCH7TDYLVgpnaC2JSbBaOCOrAbkQzZNmQO4EOxwOh8MR8RsgtSyqPuIxtgAAAABJRU5ErkJggg==);
                background-size: 32px 32px;
            }
        }
        @keyframes hide-animation {
            15% {
                opacity: 0;
                right: 4px;
                width: 57px;
            }
            20% {
                opacity: 1;
                width: auto;
                right: 74px;
            }
            95% {
                opacity: 1;
                width: auto;
                right: 74px;
            }
            100% {
                opacity: 0;
                right: 4px;
                width: 57px;
            }
        }
        @-webkit-keyframes hide-animation {
            15% {
                opacity: 0;
                right: 4px;
                width: 57px;
            }
            20% {
                opacity: 1;
                width: auto;
                right: 74px;
            }
            95% {
                opacity: 1;
                width: auto;
                right: 74px;
            }
            100% {
                opacity: 0;
                right: 4px;
                width: 57px;
            }
        }
    }
    &.geniai-active {
        @keyframes geniai-popup-open-animation {
            0% {
                opacity: 0;
                bottom: -55px;
            }
            
            100% {
                opacity: 1;
                bottom: 0;
            }
        }
        .geniai-popup {
            display: flex;
            animation: geniai-popup-open-animation 0.4s;
        }
        #geniai-chat-btn {
            .geniai-icon.geniai-open-icon {
                opacity: 0;
                transform: rotate(90deg);
            }
            .geniai-icon.geniai-close-icon {
                opacity: 1;
                transform: rotate(0deg);
            }
        }
    }
    &::after {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 9px !important;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #2ecc71;
        animation: nld-super-pop-in 0.5s cubic-bezier(0, 0.35, 0.28, 0.9) forwards;
        animation-delay: 1s;
        transform: scale(0, 0);
    }
    
    @import "styles/audioplayer";
}
.geniai-loader {
    @keyframes geniai-popup-walkingpoints {
        50% {
            fill: transparent
        }
    }
    .dot {
        animation: 1s geniai-popup-walkingpoints infinite;
        fill: grey;
    }
    .dot:nth-child(2) {
        animation-delay: 250ms
    }
    .dot:nth-child(3) {
        animation-delay: 500ms
    }
}
.h5p-manager-page {
    .geniai-page-maxwidth-900 {
        max-width: 900px;
        margin: 0 auto !important;;
    }
    .modal-dialog {
        min-width: 1150px;
        @media (max-width: 1150px) {
            min-width: 90%;
        }
    }
    .h5p-index,
    .h5p-create {
        .h5p-block {
            img.icon {
                width: 100%;
                height: auto;
                margin: 15px auto 0;
                max-width: 124px;
                max-height: 124px;
            }
        }
    }
    .control-buttons {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 12px;
        right: 5px;
        bottom: 5px;
        margin-left: 170px;
        > input,
        > span {
            margin-left: 0;
            border-radius: 0;
            border: none;
        }
    }
    .h5p-block-title {
        display: flex !important;
        align-items: center;
        img {
            height: 32px;
            width: auto;
        }
        h3 {
            margin: 0;
            padding: 0;
        }
    }
    textarea {
        width: 100%;
    }
    fieldset,
    #h5ps-pages,
    .form-h5p-next-step {
        padding: .35em .625em .75em;
        min-width: 0;
        border-radius: 7px;
        border: 2px solid #b9b9b9;
        margin: 5px 2px 27px;
        legend {
            display: block;
            margin-bottom: 5px;
            font-size: 21px;
            line-height: inherit;
            color: #333;
            border: 0;
            padding: 0 6px;
            width: auto;
            float: none;
        }
        .btn-delete {
            font-size: .7em;
            background: #e91e63;
            color: #fff;
            padding: 2px 6px;
            border-radius: 5px;
        }
        .form-group {
            margin-bottom: 10px;
            label {
                font-weight: 700;
            }
            .help-block {
                font-size: .9em;
                color: #757575;
            }
        }
        .h5p-block-action {
            position: absolute;
            right: 4px;
            top: 4px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 4px;
            width: min-content;
            button {
                padding: 2px 13px;
                cursor: pointer;
                margin: 0 !important;
                white-space: nowrap;
            }
        }
    }
    #h5ps-pages {
        @media (max-width: 950px) {
            .ui-tabs-nav {
                min-width: 53px;
                width: 53px;
                .title {
                    display: none;
                }
            }
        }
        .h5ps-pages.top-50 {
            padding-top: 50px;
        }
    }
    .tox-tinymce {
        min-height: 600px;
    }
    select,
    input[type=text],
    input[type=email],
    input[type=number],
    input[type=time],
    input[type=password],
    textarea,
    .contentinput {
        padding: 8px 10px;
        line-height: 1.5;
        border-radius: 3px;
        outline: none;
        background: #ffffff73;
        border: 1px solid #ced4da;
        &[disable] {
            background: rgba(197, 197, 197, .11);
        }
    }
    
    @import "styles/jquery-ui";
    @import "styles/radio-select";
    @import "styles/el-switch";
}
@import "styles/bcp";
