{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_geniai/h5p-edit

    Example context (json):
    {
      "h5p": {
        "id": "123",
        "contextid": "456",
        "type": "interactive",
        "data": "some_data",
        "title": "My H5P Title"
      },
      "h5p_data": {
        "textbase": "/path/to/textbase",
        "modulebase": "/path/to/modulebase",
        "filebase": "/path/to/filebase"
      },
      "user": {
        "lang": "en"
      },
      "pages": [
        {
          "id": "1",
          "title": "Page 1 Title",
          "type": "text",
          "data": "page1_data"
        }
      ],
      "types": {
        "h5ps": [
          {
            "id": "ExampleType1",
            "title": "Type 1",
            "desc": "Description for type 1"
          }
        ]
      },
      "tyni_editor_config": "{'toolbar': 'bold italic underline'}",
      "h5pjs": "new ModalFactory(h5ps + tyniEditorConfig + loadingIcon + $ui);"
    }
}}

<form method="post"
      class="validate form-h5p-edit d-none"
      enctype="multipart/form-data"
      action="edit.php?id={{h5p.id}}"
      data-action="edit.php?id={{h5p.id}}">
    <div class="displayErroForm alert alert-danger" style="display: none;"></div>
    <input name="POST" type="hidden" value="true">
    <input type="hidden" name="sesskey" id="sesskey" value="{{config.sesskey}}">
    <input type="hidden" name="user_lang" id="user_lang" value="{{user_lang}}">

    <input type="hidden" name="contextid" id="contextid" value="{{h5p.contextid}}">
    <input type="hidden" name="type" id="type" value="{{h5p.type}}">
    <input type="hidden" name="h5p_data" id="h5p_data" value="{{h5p.data}}">

    <input type="hidden" name="textbase" id="h5p_data_textbase" value="{{h5p_data.textbase}}">
    <input type="hidden" name="modulebase" id="h5p_data_modulebase" value="{{h5p_data.modulebase}}">
    <input type="hidden" name="filebase" id="h5p_data_filebase" value="{{h5p_data.filebase}}">

    <div id="area_title" class="form-group area_title type_text">
        <label for="title">{{#str}}h5p-create-title, local_geniai{{/str}}</label>
        <input id="title" name="title" type="text" value="{{h5p.title}}">
        <div class="help-block form-text with-errors">{{#str}}h5p-create-title-desc, local_geniai{{/str}}</div>
    </div>

    <div id="config-h5p"></div>

    <div id="h5ps-pages">
        <ul {{^show-pages}}style="display:none"{{/show-pages}}>
            {{#pages}}
                <li>
                    <a href="#h5ps-pages-{{id}}" title="{{title}}" data-type="{{type}}">
                        {{#pix}}h5p/{{type}},local_geniai{{/pix}}
                        <span class="title">{{title}}</span>
                    </a>
                </li>
            {{/pages}}
        </ul>
        {{#pages}}
            <div id="h5ps-pages-{{id}}"
                 class="h5ps-pages {{#show-pages}}top-50{{/show-pages}}"
                 data-id="{{id}}" data-type="{{type}}">

                <div id="area_page_title-{{id}}" class="form-group area_title type_text">
                    <label for="pages-{{id}}-title">{{#str}}h5p-block-title, local_geniai{{/str}}</label>
                    <input id="pages-{{id}}-title" name="pages[{{id}}][title]" type="text" value="{{title}}">
                </div>

                <div id="pages-{{id}}-config" class="pages-inputs"></div>

                <input type="hidden" class="page-type" name="pages[{{id}}][type]" value="{{type}}">
                <input type="hidden" class="page-data" value="{{data}}">
            </div>
        {{/pages}}
    </div>

</form>

{{#js}}
require(["jquery", "core/modal_factory", "jqueryui"], function($, ModalFactory, $ui) {
    var tyniEditorConfig = {{{tyni_editor_config}}};
    var loadingIcon = `{{#pix}}h5p/loading,local_geniai{{/pix}}`.replace("icon", "");

    var h5ps = {
        {{#types.h5ps}}
            "H5P.{{{id}}}": {
                "title": "{{{title}}}",
                "desc": "{{{desc}}}",
                "pix": `{{#pix}}h5p/H5P.{{id}},local_geniai{{/pix}}`.replace("icon", ""),
            },
        {{/types.h5ps}}
    };

    {{{h5pjs}}}
});
{{/js}}
