{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_geniai/h5p-index

    Example context (json):
    {
      "types": {
        "contextid": 123,
        "unique": {
          "id": "interactiveBook",
          "title": "Interactive Book",
          "desc": "Create interactive books with H5P.",
          "exe": "https://example.com/h5p/interactiveBook",
          "create": "https://example.com/h5p/create/interactiveBook"
        },
        "h5ps": [
          {
            "id": "coursePresentation",
            "title": "Course Presentation",
            "desc": "Create presentations with H5P.",
            "exe": "https://example.com/h5p/coursePresentation",
            "create": "https://example.com/h5p/create/coursePresentation"
          },
          {
            "id": "interactiveVideo",
            "title": "Interactive Video",
            "desc": "Create interactive videos.",
            "exe": "https://example.com/h5p/interactiveVideo",
            "create": "https://example.com/h5p/create/interactiveVideo"
          }
        ]
      },
      "itens": [
        {
          "id": 1,
          "type": "interactiveBook",
          "title": "Introduction to H5P"
        },
        {
          "id": 2,
          "type": "coursePresentation",
          "title": "Advanced H5P Techniques"
        }
      ],
      "return-url": "https://example.com/h5p/dashboard"
    }

}}


<div class="d-none">
    <div id="h5p-body-create" class="h5p-create"
         data-title="{{#str}}h5p-page-title,local_geniai{{/str}}">
        {{#types.unique}}
            <div class="text-center h5p-block">
                {{#pix}}h5p/H5P.{{id}},local_geniai{{/pix}}
                <h4>{{{title}}}</h4>
                <p>
                    <span data-size="200" class="text-readmore">{{{desc}}}</span>
                    <a href="{{exe}}" target="_blank">{{#str}}h5p-example,local_geniai{{/str}}</a>
                </p>
                <p><a href="{{create}}"
                      class="btn btn-primary">{{#str}}h5p-create-this,local_geniai{{/str}}</a></p>
            </div>
        {{/types.unique}}

        <hr>
        <div class="row">
            {{#types.h5ps}}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100 text-center h5p-block">
                        {{#pix}}h5p/H5P.{{id}},local_geniai{{/pix}}
                        <div class="card-body">
                            <h4 class="card-title text-center">
                                {{{title}}}
                            </h4>
                            <div class="text-center">
                                <p>
                                    <span data-size="60" class="text-readmore">{{{desc}}}</span>
                                    <a href="{{exe}}" target="_blank">{{#str}}
                                        h5p-example,local_geniai{{/str}}</a>
                                </p>
                                <p><a href="{{create}}"
                                      class="btn btn-primary">{{#str}}
                                    h5p-create-this,local_geniai{{/str}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/types.h5ps}}
        </div>
    </div>
</div>

