<div class="container">
    <div class="d-flex flex-gap-1">
    <span id="h5p-create-new"
          class="icon-no-margin btn btn-secondary text-nowrap mr-1"
          style="display: none">
        <i class="icon fa fa-add fa-fw"></i>
        {{#str}}h5p-create-new,local_geniai{{/str}}</span>

        <a id="h5p-create-new-link"
           class="icon-no-margin btn btn-secondary text-nowrap mr-1"
           href="{{config.wwwroot}}/local/geniai/h5p/create.php?contextid={{types.contextid}}&type=InteractiveBook">
        <i class="icon fa fa-add fa-fw"></i>
        {{#str}}h5p-create-new,local_geniai{{/str}}</a>

        <a href="{{return-url}}"
           class="icon-no-margin btn btn-secondary text-nowrap mr-1">{{#str}}h5p-return,local_geniai{{/str}}</a>
    </div>

    <div class="row h5p-index mt-4">
        {{#itens}}
            <div class="col-xs-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <a class="card h-100 text-center h5p-block"
                   href="edit.php?id={{id}}">
                    {{#pix}}h5p/H5P.{{type}},local_geniai{{/pix}}
                    <div class="card-body">
                        <h6 class="card-title text-center">{{{title}}}</h6>
                    </div>
                </a>
            </div>
        {{/itens}}
    </div>
</div>

<div class="d-none">
    <div id="h5p-body-create" class="h5p-create">
        {{#types.unique}}
            <div class="text-center h5p-block">
                {{#pix}}h5p/H5P.{{id}},local_geniai{{/pix}}
                <h4>{{{title}}}</h4>
                <p>
                    <span data-size="200" class="text-readmore">{{{desc}}}</span>
                    <a href="{{exe}}" target="_blank">{{#str}}h5p-example,local_geniai{{/str}}</a>
                </p>
                <p><a href="{{create}}"
                      class="btn btn-primary">{{#str}}h5p-create-this,local_geniai{{/str}}</a></p>
            </div>
        {{/types.unique}}

        <hr>
        <div class="row">
            {{#types.h5ps}}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100 text-center h5p-block">
                        {{#pix}}h5p/H5P.{{id}},local_geniai{{/pix}}
                        <div class="card-body">
                            <h4 class="card-title text-center">
                                {{{title}}}
                            </h4>
                            <div class="text-center">
                                <p>
                                    <span data-size="60" class="text-readmore">{{{desc}}}</span>
                                    <a href="{{exe}}" target="_blank">{{#str}}
                                        h5p-example,local_geniai{{/str}}</a>
                                </p>
                                <p><a href="{{create}}"
                                      class="btn btn-primary">{{#str}}
                                    h5p-create-this,local_geniai{{/str}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/types.h5ps}}
        </div>
    </div>
</div>

{{#js}}
    /*
    <script>*/
    require(["jquery", "core/modal_factory"], function($, ModalFactory) {

        function createReadMore($lement) {
            var fullText = $lement.text();
            var maxLength = $lement.attr("data-size");

            // Se o texto for maior que o limite, aplica a funcionalidade "Read More"
            if (fullText.length > maxLength) {
                var partes = fullText.split(" ");
                var truncatedText = "";
                for (var i = 0; i < partes.length; i++) {
                    if (`${truncatedText} ${partes[i]}`.length > maxLength) {
                        break;
                    }
                    truncatedText = `${truncatedText} ${partes[i]}`;
                }

                $lement.text(truncatedText);
                var readmore = $(`<a href="javascript:void(0);" class="readmore-link">{{#str}}h5p-readmore,local_geniai{{/str}}</a>`);
                $lement.append(readmore)
                        .append("<br>")
                        .click(function() {
                            $lement.text(fullText);
                        });
            }
        }

        $(".text-readmore").each(function() {
            createReadMore($(this));
        });

        $("#h5p-create-new").click(function() {
            ModalFactory.create({
                type   : ModalFactory.types.DEFAULT,
                title  : "{{#str}}h5p-page-title,local_geniai{{/str}}",
                body   : $("#h5p-body-create"),
                footer : "",
            }).then(function(modal) {
                modal.show();
            })
        });
    });
{{/js}}
