{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_geniai/settings_casedesc

    Chat Panel.

    Classes required for JS:
    * none

    Context variables required for this template:
    * see local/geniai/lib.php

    Example context (json):
    {
    }
}}

<p>{{#str}} settings_casedesc, local_geniai{{/str}}</p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>{{#str}} settings_casedesc_usecase, local_geniai {{/str}}</th>
        <th>{{#str}} settings_casedesc_temperature, local_geniai {{/str}}</th>
        <th>{{#str}} settings_casedesc_top_p, local_geniai {{/str}}</th>
        <th>{{#str}} settings_casedesc_case_description, local_geniai {{/str}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{#str}} settings_casedesc_text_and_code_generation, local_geniai {{/str}}</td>
        <td class="text-center">0.1</td>
        <td class="text-center">0.1</td>
        <td>{{#str}} settings_casedesc_deterministic_output_code, local_geniai {{/str}}</td>
    </tr>
    <tr>
        <td>{{#str}} settings_casedesc_data_analysis_scripts, local_geniai {{/str}}</td>
        <td class="text-center">0.2</td>
        <td class="text-center">0.1</td>
        <td>{{#str}} settings_casedesc_focused_data_analysis, local_geniai {{/str}}</td>
    </tr>
    <tr>
        <td>{{#str}} settings_casedesc_text_comment_generation, local_geniai {{/str}}</td>
        <td class="text-center">0.3</td>
        <td class="text-center">0.2</td>
        <td>{{#str}} settings_casedesc_concise_relevant_comments, local_geniai {{/str}}</td>
    </tr>
    <tr>
        <td>{{#str}} settings_casedesc_chatbot, local_geniai {{/str}}</td>
        <td class="text-center">0.5</td>
        <td class="text-center">0.5</td>
        <td>{{#str}} settings_casedesc_balanced_responses, local_geniai {{/str}}</td>
    </tr>
    <tr>
        <td>{{#str}} settings_casedesc_exploratory_text_writing, local_geniai {{/str}}</td>
        <td class="text-center">0.6</td>
        <td class="text-center">0.7</td>
        <td>{{#str}} settings_casedesc_creative_alternative_solutions, local_geniai {{/str}}</td>
    </tr>
    <tr>
        <td>{{#str}} settings_casedesc_creative_writing, local_geniai {{/str}}</td>
        <td class="text-center">0.7</td>
        <td class="text-center">0.8</td>
        <td>{{#str}} settings_casedesc_storytelling_texts, local_geniai {{/str}}</td>
    </tr>
    <tr>
        <td>{{#str}} settings_casedesc_idea_exploration_brainstorming, local_geniai {{/str}}</td>
        <td class="text-center">0.8</td>
        <td class="text-center">0.9</td>
        <td>{{#str}} settings_casedesc_broad_creative_ideas, local_geniai {{/str}}</td>
    </tr>
    <tr>
        <td>{{#str}} settings_casedesc_fictional_dialogue_generation, local_geniai {{/str}}</td>
        <td class="text-center">0.9</td>
        <td class="text-center">0.95</td>
        <td>{{#str}} settings_casedesc_unpredictable_dialogues, local_geniai {{/str}}</td>
    </tr>
    <tr>
        <td>{{#str}} settings_casedesc_surreal_absurd_stories, local_geniai {{/str}}</td>
        <td class="text-center">1.0</td>
        <td class="text-center">1.0</td>
        <td>{{#str}} settings_casedesc_highly_creative_stories, local_geniai {{/str}}</td>
    </tr>
    </tbody>
</table>
