{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_geniai/settings_casedesc

    Example context (json):
    {
    }
}}

<p>{{#str}} settings_casedesc, local_geniai{{/str}}</p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>{{#str}}settings_casedesc_caseuse, local_geniai{{/str}}</th>
        <th>{{#str}}settings_casedesc_temperature, local_geniai{{/str}}</th>
        <th>{{#str}}settings_casedesc_top_p, local_geniai{{/str}}</th>
        <th>{{#str}}settings_casedesc_description, local_geniai{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>{{#str}} settings_casedesc_chatbot, local_geniai {{/str}}</strong></td>
        <td>{{#str}} settings_casedesc_temp_range, local_geniai {{/str}}</td>
        <td>{{#str}} settings_casedesc_top_pvalue, local_geniai {{/str}}</td>
        <td>{{#str}} settings_casedesc_chatbot_desc, local_geniai {{/str}}</td>
    </tr>
    <tr>
        <td><strong>{{#str}}settings_casedesc_creativegen, local_geniai{{/str}}</strong></td>
        <td>0.7 - 1.0</td>
        <td>0.8</td>
        <td>{{#str}}settings_casedesc_creativegen_desc, local_geniai{{/str}}</td>
    </tr>
    <tr>
        <td><strong>{{#str}}settings_casedesc_balancedresp, local_geniai{{/str}}</strong></td>
        <td>0.5 - 0.7</td>
        <td>0.7</td>
        <td>{{#str}}settings_casedesc_balancedresp_desc, local_geniai{{/str}}</td>
    </tr>
    <tr>
        <td><strong>{{#str}}settings_casedesc_preciseresp, local_geniai{{/str}}</strong></td>
        <td>0.0 - 0.3</td>
        <td>1.0</td>
        <td>{{#str}}settings_casedesc_preciseresp_desc, local_geniai{{/str}}</td>
    </tr>
    <tr>
        <td><strong>{{#str}}settings_casedesc_optionexplore, local_geniai{{/str}}</strong></td>
        <td>0.8 - 1.0</td>
        <td>0.9</td>
        <td>{{#str}}settings_casedesc_optionexplore_desc, local_geniai{{/str}}</td>
    </tr>
    <tr>
        <td><strong>{{#str}}settings_casedesc_formaltones, local_geniai{{/str}}</strong></td>
        <td>0.3 - 0.5</td>
        <td>0.6</td>
        <td>{{#str}}settings_casedesc_formaltones_desc, local_geniai{{/str}}</td>
    </tr>
    <tr>
        <td><strong>{{#str}}settings_casedesc_relaxedtones, local_geniai{{/str}}</strong></td>
        <td>0.7 - 0.9</td>
        <td>0.8</td>
        <td>{{#str}}settings_casedesc_relaxedtones_desc, local_geniai{{/str}}</td>
    </tr>
    </tbody>
</table>
